/*----------------Top Header-----------------*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0%;
    padding: 0%;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    color: dimgray;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.btn {
    font-weight: 400;
    text-transform: uppercase;
    padding: 20px 30px;
}

.bg {
    background: #1A9CBF;
}

.btn-bg {
    background: #28ACE2;
}

.container {
    width: 1200px;
    margin: auto;
}

.d-flex {
    display: flex;
}

.text-white {
    color: black;
}

.topHeader a {
    color: black;
}

a {
    text-decoration: none;
}

.align-item-center {
    align-items: center;
}

.justify-conten-between {
    justify-content: space-between;
}

.topLeft a {
    padding: 20px 0px;
    display: block;
}

.topLeft a:first-child {
    padding-right: 10px;
    border-right: 1px solid #3c8194;
    margin-right: 10px;
}

.login-register i {
    margin-right: 5px;
}

.login-register {
    margin-right: 30px;
}


/*----------------Top Header-----------------*/


/*----------------Start praimary Menu-----------------*/

.bgn {
    background: snow;
}

.logos img {
    width: 70px;
}

.logos {
    margin-right: 50px
}

.menusitem {
    margin-right: 90px;
}

.menusitem ul {
    list-style: none;
}

.menusitem ul li a {
    padding: 20px 15px;
    display: block;
    text-transform: uppercase;
    color: #EC2028;
    font-size: 15px;
}

.catagories a {
    padding-right: 10px;
    color: #EC2028;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 100px;
}

.serch {
    width: 100px;
}

.serch a {
    color: #ec2028;
}

.praimary-Menu a:hover,
.catagories a i:hover {
    color: #28ACE2;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.catagories i {
    font-size: 15px;
}

.serch a:first-child {
    border-right: 1px solid red;
    padding: 15px;
}

.content li a::after {
    content: ' +';
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.content li a:hover::after {
    content: ' -';
}

.menusitem .high:first-child a {
    color: #28ACE2;
}


/*----------------End Praimary Menu-----------------*/